body{
  background-color: #1f1e1e;
  color:white;
  overflow: hidden;
}

h1{
  display: flex;
  text-align: center;
  justify-content: center;
}

.todo-wrapper{
  background-color: #353434;
  padding:2%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width:fit-content;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 5px 5px rgb(15, 15, 15);

}
.todo-input{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(78,78,78);
  padding-bottom:25px;
  margin-bottom: 25px;
}

.todo-input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

.todo-input-item label{
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-input-item input{
  padding: 8px;
  border:none;
  width:250px;

}

.todo-input-item input:focus{
  outline:none;
  border:3px solid rgb(27, 141, 193)
}

.primarybtn{
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 2px;
  margin-top: 21px;
  padding: 10px;
  width:80px;
  cursor: pointer;
}

.primarybtn:hover{
  background-color: rgb(39, 112, 185);
}

.secondarybtn{
  background-color: rgb(71,71,71);
  color: white;
  border: none;
  border-radius: 2px;
  margin-top: 21px;
  padding: 10px;
  width:80px;
  cursor: pointer;
}
.active{
  background-color: dodgerblue;
}

.btn-area{
  margin-bottom: 15px;
}

.todo-list{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.todo-list-item{
  background-color: #414040;
  display: flex;
  justify-content: space-between;
  padding:25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;

}
.todo-list-item h3{
  font-size: 25px;
  color:rgb(17, 124, 230);
  margin: 0;
  font-weight: bold;
}
.todo-input-item p{
  font-size: 14px;
  color:rgb(161,161,161);
  margin-top:0px
}
.icons{
  font-size: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.icons:hover{
  color:red
}
.Editicon{
  margin-right: 15px;
}
.check-icon{
  font-size: 25px;
  color: dodgerblue;
  margin-left:10px;

}